

@neutral:   #a0a0a0;
@red:       #ce483d;
@yellow:    #ffa93c;
@blue:      #00acef;
@violet:    #9468ee;



.animated {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}



.dashboard-body {
  position: absolute;
  background: #e0e0e0;
  width: 100%;
  min-height: 100%;
  font-family: 'Open sans';
}



@import 'dashboard-top.lessimport';
@import 'dashboard-bulbs.lessimport';
@import 'dashboard-popup.lessimport';
@import 'dashboard-div.lessimport';
@import 'dashboard-content.lessimport';
@import 'dashboard-content-bulb.lessimport';

@import 'dashboard-colors.lessimport';


