


.dashboard-body {
  position: absolute;
  background: #e0e0e0;
  width: 100%;
  min-height: 100%;
}



@import 'dashboard-top.lessimport';


.dashboard-content {
  position: relative;
  top: 100px;
  width: 1000px;
  padding: 20px;
  margin: 0px auto;
  background: #f0f0f0;
  box-shadow: 0px 0px 10px #f0f0f0;
}


